.header_categoryTable {
  height: 9.2vh;
  background-color: #d8d8d8;
  margin-bottom: 30px;
}

.div_container_navbarCategory {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.title_Product {
  font-size: 3em;
}
