.containerInputs {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3,1fr);
}
.selectLabel {
  color: #000000;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: bold;
  padding: 4.8px;
}
.selectContainer{
  margin: 8px 0px 0px;
  position: relative;
}

.section1 {
  width: 32%;
}
.section2{
  width: 34%;
}
.section3{
  width: 33%;
}
.customSelect {
  width: 100%;
  max-width: 250px; 
  padding: 6px;
  border: solid 1.6px #828690;
  border-radius: 0.5px;
  background-color: #fff; 
  color: #444; /* Color de texto */
  margin-bottom: 16px;
  padding-right: 30px;
  appearance: none;
}

.customSelect:hover{
  cursor: pointer;
}


.customSelect:focus {
  outline: none;
  box-shadow: 0 0 0 4px #ccc;
}

.customSelect::placeholder {
  color: #999; /* Color del texto de marcador */
}
.buttonSubmit{
  background-color: #756070 ;
  width: 100px;
  font-size: 1.1rem;
}
.buttonSubmit:hover {
  background-color: #756070 !important;
  border: solid 1px #756070 !important;

}
.buttonSubmit:active{
  background-color: #756070 !important;
  border: solid 1px #6e5c6a !important;
  transform: scale(0.98);
}


.icon {
  position: absolute;
  right: 10px;
  top: 55px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; /* Hace que el icono no sea clicable */
  transition: transform 0.3s ease;
}

.icon.open {
  transform: translateY(-50%) rotate(180deg); /* Rotar el icono 180 grados */
}

.disabledInput {
  background-color: #f0f0f0; /* Cambia el color de fondo */
  color: #888; /* Cambia el color del texto */
  border-color: #d0d0d0; /* Cambia el color del borde */
  cursor: none;
}
.disabledInput:hover{
  cursor: default;
}

.disabledInput + .icon {
  color: #d0d0d0;
  cursor: not-allowed
}