.modal-content {
  border: solid 3px #756070;
}
.modalHeader{
  background-color: #828690;
  border: solid 2px #756070;
  border-bottom: none;
  filter: brightness(1.1); /* Oscurece el elemento a la mitad del brillo */
  text-align: center;
  color: #fff;
}
.title { 
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.modalBody {
  background-color: #f8f8f8;
  filter: brightness(1.1); /* Oscurece el elemento a la mitad del brillo */
  border: 2px solid #756070;
  border-top: none;
  outline: none;
}
