.cardContainer {
  border: solid 1px #888;
  border-radius: 6px;
  height: 25rem;
  min-height: 400px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 0 15px #333;
}

.sucursalesContainer {
  padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

}

.titleContainer{
  text-align: center;
}
.titleContainer p {
  font-weight: 600;
  font-size: 1.4rem;
}

.buttonModal {
  background-color: #828690;
  color: #fff;
  border: solid 1px #756070
}
.buttonModal:hover {
  background-color: #756070;
  border: solid 1px #756070

}

/* Desde 590px, cambiar a 2 columnas */
@media (min-width: 590px) {
  .sucursalesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desde 850px (590 + 260), cambiar a 3 columnas */
@media (min-width: 850px) {
  .sucursalesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desde 1110px (850 + 260), cambiar a 4 columnas */
@media (min-width: 1110px) {
  .sucursalesContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
